header {
    @include flexCenter(row, space-between, center, center, wrap);
    background-color: rgba(23, 185, 185, 0.486);
    position: fixed;
    width: 100%;
    margin: 0 3rem;
    .headerContent {
        img {
            height: auto;
            width: 90px;
        }
    }
}